*{
    margin: 0px;
    padding: 0px;
}
body{
    background: black;
}
.contaniner{
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    border-radius: 4000px;
    position: absolute;
    transform: rotateX(65deg);
    animation: circle 5s infinite;
    z-index: -100;
}
@keyframes circle{
    0%   {top: 0px;
        transform: rotateX(65deg) rotateY(0deg);
    }
    25%  {top: 100px;
        transform: rotateX(100deg) rotateY(30deg);
    }
    75%  {top: -100px;
        transform: rotateX(360deg) rotateY(60deg);
    }
    100% {top: 0px;
        transform: rotateX(65deg) rotateY(0deg);
        
    }
}
#circle1{
    height: 400px;
    width: 400px;
    border: 4px solid rgb(0, 255, 0);
    animation-delay: 1000ms;
}
#circle2{
    height: 360px;
    width: 360px;
    border: 4px solid rgb(0, 0, 255);
    animation-delay: 900ms;
}
#circle3{
    height: 320px;
    width: 320px;
    border: 4px solid rgb(255, 0, 179);
    animation-delay: 800ms;
}
#circle4{
    height: 280px;
    width: 280px;
    border: 4px solid rgb(157, 255, 0);
    animation-delay: 700ms;
}
#circle5{
    height: 240px;
    width: 240px;
    border: 4px solid rgb(255, 0, 0);
    animation-delay: 600ms;
}
#circle6{
    height: 200px;
    width: 200px;
    border: 4px solid rgb(78, 52, 3);
    animation-delay: 400ms;
}
#circle7{
    height: 160px;
    width: 160px;
    border: 4px solid rgb(255, 0, 234);
    animation-delay: 300ms;
}
#circle8{
    height: 120px;
    width: 120px;
    border: 4px solid rgb(255, 57, 7);
    animation-delay: 200ms;
}
#circle9{
    height: 80px;
    width: 80px;
    border: 4px solid rgb(0, 0, 255);
    animation-delay: 100ms;
}
#circle10{
    height: 40px;
    width: 40px;
    border: 4px solid rgb(0, 255, 55);
}